@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');


* {
font-family: 'Asap', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
background: #e76f51;
padding: 10px;
}

header > h1 {
color: #e9c46a;
text-align:center;
}

h3 {
color: white;
padding: 20px;
}

h2 {
color: white;
text-align:center;
}

.body {
background: #2a9d8f;
text-align: center;
padding-bottom: 35px;
}



#play-image {
  max-width: 50px;
}

#rps-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 40%;
}